.Cart {
  display: flex;
  justify-content: end;
}

.Cart-title {
  padding: 20px 10px;
}

.Cart-text {
  padding-left: 12px;
  font-weight: 700;
}

.Cart-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}